.wrap {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
  justify-content: space-between;
}

.logoLink {
  display: inline-block;
}

.logoText {
  color: var(--main-bg-color);
  font-family: 'originalregular';
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.nav {
  display: none;
}
