.podcastPlatforms {
  text-align: center;
}

.platforms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platforms a {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.platforms a:hover svg,
.platforms a:active svg {
  fill: var(--secondary-bg-color);
}
