.button {
  background-color: transparent;
  border: 1px solid var(--border-secondary-color);
  padding: 0.5rem 1rem;
  color: var(--secondary-text-color);
  font-weight: bold;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--secondary-text-color);
  color: var( --secondary-bg-color);
}
