.videoWrapper {
  height: 280px;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-top: -96px;
  background-image: url('../../public/banner.png');
  background-position: center center;
}

@media (max-width: 600px) {
  .videoWrapper {
    height: 200px;
    background-position: left;
  }
}

.banner {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 120px;
  z-index: 1;
}

@media (max-width: 600px) {
  .banner {
    top: 80px;
    padding: 16px;
  }
}

.banner h1 {
  font-size: 48px;
  color: #FFF;
  margin: 0;
  font-family: 'originalregular';
  font-weight: normal;
}

@media (max-width: 600px) {
  .banner h1 {
    font-size: 32px;
  }
}

.banner p {
  font-size: 24px;
  color: #FFF;
  margin: 0;
}

@media (max-width: 600px) {
  .banner p {
    font-size: 16px;
  }
}

.video {
  display: none;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
