.showInformation {
  margin: 32px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .showInformation {
    margin: 16px;
  }
}

.weekly {
  font-size: 48px;
  color: #484848;
  font-family: 'originalregular';
  font-weight: normal;
  margin: 0;
}

.monday {
  background-color: #561971;
  color: #FFF;
  padding: 4px 8px;
}

@media (max-width: 600px) {
  .weekly {
    font-size: 24px;
  }
}

.host {
  background-color: #eee;
  padding: 32px;
  text-align: center;
}

@media (max-width: 600px) {
  .host {
    padding: 16px;
  }
}

.hostTitle {
  font-size: 32px;
  color: #561971;
  font-family: 'originalregular';
  font-weight: normal;
  margin: 0 0 16px;
}

@media (max-width: 600px) {
  .hostTitle {
    font-size: 24px;
  }
}

.host iframe {
  width: 600px;
}

@media (max-width: 600px) {
  .host iframe {
    width: 288px;
  }
}

.player {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #561971;
}

@media (max-width: 600px) {
  .player {
    padding: 16px;
    display: block;
  }
}

.player img {
  max-width: 150px;
}
